name: GitHub Actions Demo

on:
  push:
    branches: 
      - main
    paths-ignore: 
      - .github/**
  pull_request:
    branches: 
      - main
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "event name: ${{ github.event_name }}"
          echo "branch: ${{ github.ref }}"

      - uses: actions/checkout@v4.1.0

      - run: tree
